body {
    background-image: url(/img/fond_acdc.png) ;
    width: 100%;
}

header {
    margin-top: 3%;
}

section {
    margin: 10% 0% 10% 0%;
}

section div {
    justify-content: center;
}

section div .row {
    justify-content: space-between;
    align-content: center;
}

section div h3 {
    justify-content: space-between;
    align-content: center;
}