@font-face {
    font-family: 'Hard Rock';
    src: url(/ACDCRessources/fonts/HARD_ROCK.ttf);
}
@font-face {
    font-family: 'rocknroll';
    src: url(/ACDCRessources/fonts/rocknroll_typo_crazy.ttf);
}
@font-face {
    font-family: 'the dark';
    src: url(/ACDCRessources/fonts/TheDark.ttf);
}


body {
    background-image: url(/ACDCRessources/img/fond_acdc.png) ;
    width: 100%;
}

header {
    margin-top: 12%;
}

nav a {
    font-family: 'Hard Rock';
}

h3, input {
    font-family: 'Hard Rock';
}


section {
    margin: 10% 0% 10% 0%;
}

section div {
    justify-content: center;
}

section div .row {
    justify-content: space-between;
    align-content: center;
}

section div h3 {
    justify-content: space-between;
    align-content: center;
}

section form div,.row, button {
    margin: 3% 0% 0% 0%;
}